<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>page 3</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo" href="/logo">
        <div class="header-right">
          <a class="pageonehead" href="/">Page 1</a>
          <a class="pagetwohead" href="/page2">Page 2</a>
          <a class="pagethreehead" href="/page3">page 3</a>
        </div>
      </div>      
    <h1>Page 3</h1>
    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/k5itPbQtz_Y" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
    <button class="button3page2" onclick="window.location.href='/page2'">Back to page 2</button>
    <button class="button3page1" onclick="window.location.href='/'">Back to page 1</button>
</body>
</html>