<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Shop Page</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo" href="/logo">
        <div class="header-right">
          <a class="shophead" href="/">Home</a>
          <a class="shophead" href="/page2">Page 2</a>
          <a class="shophead" href="/page3">Page 3</a>
          <a class="shophead" href="/shop">Shop </a>
        </div>
    </div>
    <h1>Shop Page</h1>
    <p>This is the shop page.</p>
</body>
</html>